<!DOCTYPE html>
<html lang="en" dir="ltr" style="height: 100%; margin: 0;">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" href="/static/home.css"> -->
    <link rel="stylesheet" href="/static/stylesheets/base.css">

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

      <!-- <script type="text/javascript">
          $(window).ready(function(){
              $("#myModal").modal('show');
          });
      </script> -->

    <script src="static/scripts/change_flex_on_screen_change.js"></script>
    <script>
        window.onresize = (event) => {
            // change_side_bar_height()
            change_flex_on_screen_change()
            // make_bottom_images_correct_widths()
            // make_images_correct_heights() 
        }
    </script>
    <title></title>
  </head>
  <body style="height: 100%; margin: 0;" class="lightergrey_background">
    <!-- background-color: #ffffff;  -->
    <div class="wrapper" style="min-height: 100%; margin-bottom: -50px;">

      <!--Navbar -->
      <nav class="mb-1 navbar navbar-expand-lg navbar-dark lighten-1 yellow_background darkgrey_bottom_border mx-auto" style="align-items: center;">


        <div id="navbarSupportedContent-555" style="width: 100%;">
          <ul class="navbar-nav mr-auto">

            {% if homeActive%} <li class="nav-item active" style="margin: auto;">
            {% else %} <li class="nav-item" style="margin: auto;">
            {% endif %}
              <a class="nav-link  primary_text" href="/">Home
                <!-- <span class="sr-only">(current)</span> -->
              </a>
            </li>


            {% if newsActive%} <li class="nav-item active" style="margin: auto;">
            {% else %} <li class="nav-item" style="margin: auto;">
            {% endif %}
              <a class="nav-link primary_text" href="/our-team">About Us</a>
            </li>

            {% if newsActive%} <li class="nav-item active" style="margin: auto;">
              {% else %} <li class="nav-item" style="margin: auto;">
              {% endif %}
                <a class="nav-link primary_text" href="/donate">Donations</a>
              </li>

            <li class="nav-item">
                <a class="nav-link" href="/" style="padding: 0 !important;">
                    <img src="/static/images/s3c_golf_header.png" style="height: 80px">
                </a>
            </li>

            {% if scheduleActive%} <li class="nav-item active" style="margin: auto;"> 
            {% else %} <li class="nav-item" style="margin: auto;">
            {% endif %}
              <a class="nav-link primary_text" href="/golf-classic">Golf Registration</a>
            </li>

            {% if scheduleActive%} <li class="nav-item active" style="margin: auto;"> 
            {% else %} <li class="nav-item" style="margin: auto;">
            {% endif %}
              <a class="nav-link primary_text" href="/involvement">Sponsor Registration</a>
            </li>

            {% if scheduleActive%} <li class="nav-item active" style="margin: auto;"> 
              {% else %} <li class="nav-item" style="margin: auto;">
              {% endif %}
                <a class="nav-link primary_text" href="/involvement">FAQ</a>
              </li>
            
          </ul>
          <!-- <ul class="navbar-nav ml-auto nav-flex-icons">
            
          </ul> -->
        </div>
      </nav>
      <!--/.Navbar -->

      {% block content%}
      {% endblock content%}

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <div class="push" style="height:50px;"></div>
  </div>
  <br><br>
  <footer class="footer yellow_background darkgrey_top_border" style="height:75px; border-top: 5px solid #595959;">
    <br>
    <div class="container">
      <div class="row justify-content-center">

        <!--<hr style="margin-top: 0.5em;margin-bottom: 0.5em; margin-left: auto;    margin-right: auto;    border-style: inset;    border-width: 1px;border-color:red; width: 100%">-->
        <!-- <span class="text-muted"> Designed by Jake Carlson (2019) ||  JakeCarlson00@gmail.com</span> -->
      </div>
    </div>
  </footer>

  </body>
</html>