{% extends "src/base.html" %}

{% block content %}
    <!-- <div style="display: flex;">
        <div style="flex: 4; background-color: red;">
            <p>Hello</p>
        </div>
        <div style="flex: 3; background-color: black;">
            <p>Hello</p>
        </div>
    </div> -->
    <div class="container">

        <h1 class="text-center">Welcome to the {{ year }} S3C Golf Classic!</h1>
        <h5 class="text-center">{{date_str}} at {{course}}</h5>
        {% if is_golf_registration %}
            <h4 class="text-center">Sponsorship Opportunites and Golfer Registration Open Now</h4>
            <div style="display: flex;justify-content: center;">
                <a class="nav-link primary_text text-center" style="text-align: center;" href="/golf-classic-{{date_code}}/involvement">
                    <h5 class="yellow_background" style="border-radius: 25px;width: 10rem; height: 3rem; display: flex;justify-content: center;align-items: center;text-align: center;">Get Invloved</h5>
                </a>
            </div>
        {% endif %}
        <!-- <button class="text-center"> -->
            
        </button>
        <div class="row">
            <div class="col-9">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="height: 400px !important">
                    
                    <div class="carousel-inner"  style="height: 100% !important">
                        {% for e in event_images %}
                            <div class="carousel-item {{e.visible}}" style="height: 100% !important">
                                <img src="{{e.link}}" style="width: 85%; padding-bottom: 1rem;" class="mx-auto d-block">
                            </div>
                        {% endfor %}
                    </div>

                    {% if event_images|length > 1 %}
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    {% endif %}

                </div>
                
                <div class="row">
                    <div class="col-8">
                        {% for description_paragraph in descr %}
                            <p> {{description_paragraph}}</p>
                        {% endfor %}
                    </div> 
                    <div class="col-4">
                        {% for event in schedule %}
                            <h5>{{event.date_str}}</h5>
                            <h6>{{event.location}}</h6>
                            {% for e in event.data %}
                                <p><b>{{e.time}}</b> - {{e.description}}</p>
                            {% endfor %}
                        {% endfor %}
                    </div> 
                </div> 
            </div> 
            <div class="col-3">
                {% for im in sponsor_images %}
                    <img src="{{im}}" style="width: 100%;">
                {% endfor %}
            </div> 
        </div> 
    </div> 
{% endblock content %}