{% extends "src/base.html" %}

{% block content %}
    <!-- <div style="display: flex;">
        <div style="flex: 4; background-color: red;">
            <p>Hello</p>
        </div>
        <div style="flex: 3; background-color: black;">
            <p>Hello</p>
        </div>
    </div> -->
    <div class="container">

        <h1 class="text-center">Welcome to the {{ year }} S3C Golf Classic!</h1>
        <h5 class="text-center">{{date_str}} at {{course}}</h5>
        {% if is_golf_registration %}
            <h4 class="text-center">Sponsorship Opportunites and Golfer Registration Open Now</h4>
            <a class="nav-link primary_text text-center" href="/golf-classic-{{date_code}}/involvement"><h6>Get Invloved</h6></a>
        {% endif %}
        <!-- <button class="text-center"> -->
            
        </button>
        <div class="row">
            <div class="col-9">
                <img src="/static/images/golf/{{year}}/header-img.jpg" style="width: 85%;">
                <div class="row">
                    <div class="col-8">
                        {% for description_paragraph in descr %}
                            <p> {{description_paragraph}}</p>
                        {% endfor %}
                    </div> 
                    <div class="col-4">
                        {% for event in schedule %}
                            <h4>{{event.date_str}}</h4>
                            <h5>{{event.location}}</h5>
                            {% for e in event.data %}
                                <p><b>{{e.time}}</b> - {{e.description}}</p>
                            {% endfor %}
                        {% endfor %}
                    </div> 
                </div> 
            </div> 
            <div class="col-3" style="border: 2px solid black;">
                {% for im in sponsor_images %}
                    <img src="{{im}}" style="width: 100%;">
                {% endfor %}
            </div> 
        </div> 
    </div> 
{% endblock content %}