{% extends "src/base.html" %}

{% block content %}
    <!-- <div style="display: flex;">
        <div style="flex: 4; background-color: red;">
            <p>Hello</p>
        </div>
        <div style="flex: 3; background-color: black;">
            <p>Hello</p>
        </div>
    </div> -->
    <script src="https://js.stripe.com/v3/"></script>
    <script>

        var hide1s = true;

        function open_form(div_id_open, div_id_close)
        {
            document.getElementById(div_id_open).style.display = 'block';
            document.getElementById(div_id_close).style.display = 'none';
        }

    
    </script>

    <style>
        .registration_btn{
            border-radius: 25px;
            min-width: 2.5rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            height: 2rem;
        }

        .large_btn{
            font-size: 1.1rem !important;
            height: auto !important;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
        }
        .form-row {
            display: flex;
            padding-bottom: 0.5rem;
            /* justify-content: flex-end; */
        }
        .form-row > label {
            flex: 1;
        }
        .form-row > input {
            flex: 2; 
        }
        .in_form{
            padding-left: .25rem;
        }
    </style>
    <!-- <script src="/static/scripts/client.js" defer></script> -->
    <div class="container">
        {% block content%}
        {% endblock content%}
        <br>
        <h3>Golf Registration</h3>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h5>Single Golfer Registration - ${{golf_options.1s.price_display}}</h5>
                        <ul>
                            {% for d in golf_options.1s.description %}
                                <li> {{d}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-6">
                        
                        <div id="single_div" style="display:none">
                            <form id="payment-form" action="/create-checkout-session-view?type=1s&date_code={{date_code}}" method="POST">
                                {% csrf_token%}
                                <ul class="in_form">
                                    <li class="form-row">
                                        <label>Contact Email:</label>
                                        <input type="text" name="email" id="email" value="{{data.course}}"><br>
                                    </li>
                                    <li class="form-row">
                                        <label>Golfer First Name:</label>
                                        <input type="text" name="fname_1" id="fname_1" value="{{data.course}}"><br>
                                    </li>
                                    <li class="form-row">
                                        <label>Golfer Last Name:</label>
                                        <input type="text" name="lname_1" id="lname_1" value="{{data.course}}"><br>
                                    </li>
                                </ul>
                                <button class="registration_btn yellow_background" type="submit">Proceed to Secure Checkout</button>
                                <button class="registration_btn yellow_background" onclick="open_form('single_div_btn','single_div')" type="button">X</button>
                            </form>
                        </div>
                        <div id="single_div_btn"  style="height: 100%;">
                            <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                                <button class="registration_btn yellow_background large_btn" onclick="open_form('single_div', 'single_div_btn')">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h5>Foursome Golfer Registration - ${{golf_options.4s.price_display}}</h5>
                        <ul>
                            {% for d in golf_options.4s.description %}
                                <li> {{d}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-6">
                        <div id="foursome_div" style="display:none" class="row">
                            <form id="payment-form" action="/create-checkout-session-view?type=4s&date_code={{date_code}}" method="POST">
                                {% csrf_token%}
                                <ul class="in_form">
                                    <li class="form-row">
                                        <label>Contact Email:</label>
                                        <input type="text" name="email" id="email" value="{{data.course}}"><br>
                                    </li>
                                    <li class="form-row">
                                        <label>Main Golfer First Name:</label>
                                        <input type="text" name="fname_1" id="fname_1" value="{{data.course}}"><br>
                                    </li>
                                    <li class="form-row">
                                        <label>Main Golfer Last Name:</label>
                                        <input type="text" name="lname_1" id="lname_1" value="{{data.course}}"><br>
                                    </li>
                                </ul>
                                <button class="registration_btn yellow_background" type="submit">Proceed to Secure Checkout</button>
                                <button class="registration_btn yellow_background" onclick="open_form('foursome_div_btn','foursome_div')" type="button">X</button>
                            </form>
                        </div>
                        <div id="foursome_div_btn" style="height: 100%;">
                            <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                                <button class="registration_btn yellow_background large_btn" onclick="open_form('foursome_div', 'foursome_div_btn')">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

{% endblock %}