{% extends "src/base.html" %}

{% block content %}
    <!-- <div style="display: flex;">
        <div style="flex: 4; background-color: red;">
            <p>Hello</p>
        </div>
        <div style="flex: 3; background-color: black;">
            <p>Hello</p>
        </div>
    </div> -->
    <div class="container">
        <h4>Golf Registration</h4>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h6>Single Golfer Registration.</h6>
                    </div>
                    <div class="col-6">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h4>Sponsorship Opportunites</h4>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h5>MVP Sponsor - $5,000</h5>
                        <ul>
                            <li>2 – Complimentary golf foursome registrations (fees include greens’ fees, golf cart, 18 holes, lunch, dinner, beverages, gifts, games of chance.)</li>
                            <li>16 – Complimentary admissions to Friday night's celebration</li>
                            <li>Recognition as Presenting Event Sponsor</li>
                            <li>Prominent company logo and name displayed on website, social media outlets, event materials, customized gifts, and tee-box</li>
                            <li>Complimentary company display & option to distribute promotional items</li>
                        </ul>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}