{% extends "src/base.html" %}

{% block content %}
    
    <script src="https://js.stripe.com/v3/"></script>
    <script>

        var hide1s = true;

        function open_form(div_id_open, div_id_close)
        {
            document.getElementById(div_id_open).style.display = 'block';
            document.getElementById(div_id_close).style.display = 'none';
        }

        function signupScroll(){
            document.getElementById('signup').scrollIntoView();
            console.log('click')
        }

    </script>

    <style>
        .registration_btn{
            border-radius: 25px;
            min-width: 2.5rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            height: 2rem;
        }

        .large_btn{
            font-size: 1.1rem !important;
            height: auto !important;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
        }
        .form-row {
            display: flex;
            padding-bottom: 0.5rem;
            /* justify-content: flex-end; */
        }
        .form-row > label {
            flex: 1;
        }
        .form-row > input {
            flex: 2; 
        }
        .in_form{
            padding-left: .25rem;
        }
    </style>

    <div class="container">

        <h1 class="text-center">Sponsor the {{ year }} S3C Golf Classic!</h1>
        <h5 class="text-center">{{date_str}} at {{course}}</h5>
        {% if is_golf_registration %}
            <h4 class="text-center">Sponsorship Opportunites Open Below</h4>
            <div style="display: flex;justify-content: center;">
                <a class="nav-link primary_text text-center" style="text-align: center;">
                    <h5  onclick="signupScroll()" class="yellow_background" style="border-radius: 25px;width: 10rem; height: 3rem; display: flex;justify-content: center;align-items: center;text-align: center;">Get Invloved</h5>
                </a>
            </div>
        {% endif %}
            
        </button>
        <div class="row">
            <div class="row">
                {% for pic in top_pics %}
                    <div class="col-4" style="height: 20rem;">
                        <img src="{{pic.link}}" style="max-height: 95%; max-width: 95%; padding-top: 1rem;"  class="mx-auto d-block">
                    </div>
                {% endfor %}
            </div>   
            <div class="row">
                {% for description_paragraph in sponsor_description %}
                    <p> {{description_paragraph}}</p>
                {% endfor %}
            </div> 

            <div class="row">
                {% for row in row_of_pics %}
                    {% for pic in row %}
                        <div class="col-3">
                            <img src="{{pic.link}}" style="width: 85%; padding-top: 1rem;"  class="mx-auto d-block">
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>   

            {% if active %}
                <div id="signup">
                    <hr>
                    <h4>Sponsorship Opportunites</h4>
                    {% for s in sponsor_options %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <h5>{{s.sponsor_option_title}} - ${{s.stripe_price_variable}}</h5>
                                        <ul>
                                            {% for d in s.description %}
                                                <li> {{d}}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
                                            <form action="mailto:{{contact_email}}?subject={{s.sponsor_option_title}}!" method="GET">
                                                <button type="submit" class="registration_btn yellow_background large_btn"> Email to Get Involved</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                </div>
            {% endif %}
            
        </div>
    </div> 
{% endblock content %}