{% extends "src/base.html" %}

{% block content %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-9">

            {% for a in about%}
            <h3>{{a.title}}</h3>
                {% for t in a.text %} 
                <p>{{t}}</p>
                {% endfor %}
                <hr>
            {% endfor %}
        </div> 
        <div class="col-3" >
            <p>Support Us!</p>

            <p>S3C, Inc.<br>
                9399 Dundee Drive<br>
                West Chester, OH 45069<br>
                www.facebook.com/s3cohio
            </p>

            {% for p in people %}
                <p>
                    <b>{{p.name}}</b><br>
                    <i>{{p.title}}</i><br>
                    {{p.email}}<br>
                    {{p.phone}}
                </p>
            {% endfor %}

        </div> 
    </div> 
</div>
{% endblock content %}