$lightyellow: #ffda89;
$yellow: #ffcf66;
$darkyellow: #f9ab00;
$lightergrey: #f4f4f4;
$lightgrey: #c4c4c4;
$grey: #a0a0a0;
$darkgrey: #595959;
$darkergrey: #353535;

// Background Colors
.yellow_background {
    background-color: $yellow !important;
}

.lightergrey_background {
    background-color: $lightergrey !important;
}

.lightgrey_background {
    background-color: $lightgrey !important;
}

// Text color
.primary_text {
    color: $darkergrey !important;
}

// Borders
.darkgrey_bottom_border{
    min-height: 90px; 
    border-bottom: 5px solid $darkgrey;
}

// Spacing
.center_text{
    text-align: center !important;
    width: 100% !important; 
}
