<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head> -->
{% extends "custAdmin/admin_base.html" %}

{% block content %}
<script> 
    var day_count=0;
    var event_count=[];

    var event_image_count = 0;
    var sponsor_image_count = 0;
    var golf_option_count = 0;
    var sponsor_option_count = 0;

    function pop_nodes_after_day(day_count_val)
    {
        // console.log('day_' + (parseInt(day_count_val) + 1))
        var nodes = document.getElementById('frm').children
        var popped_nodes = []
        
        var found_index = 0

        for (node in nodes){
            if (nodes[node].id === 'day_' + (parseInt(day_count_val)  + 1)
                || nodes[node].id === 'sponsor_image_btn'
                || nodes[node].id === 'event_image_btn'){
                    found_index = parseInt(node) - 2
                    break
            }
            if (nodes[node].id === 'submit'){
                    found_index = parseInt(node)
                    break
            }
        }

        for (n in nodes){
            if (n >= found_index){
                var node = nodes[n]
                popped_nodes.push(node)
            }
        }

        for (p of popped_nodes){
                p.remove()
        }

        return popped_nodes
    }

    function pop_nodes_for_event_image()
    {
        var nodes = document.getElementById('frm').children
        var popped_nodes = []
        
        var found_index = 0

        for (node in nodes){
            if (nodes[node].id === 'sponsor_image_btn'){
                    found_index = parseInt(node) - 2
                    break
            }
            if (nodes[node].id === 'submit'){
                    found_index = parseInt(node)
                    break
            }
        }

        for (n in nodes){
            if (n >= found_index){
                var node = nodes[n]
                popped_nodes.push(node)
            }
        }

        for (p of popped_nodes){
                p.remove()
        }

        return popped_nodes
    }

    function pop_nodes_for_sponsor_image()
    {
        var nodes = document.getElementById('frm').children
        var popped_nodes = []
        
        var found_index = 0

        for (node in nodes){
            if (nodes[node].id === 'golf-label'){
                    found_index = parseInt(node) - 1
                    break
            }
        }

        for (n in nodes){
            if (n >= found_index){
                var node = nodes[n]
                popped_nodes.push(node)
            }
        }

        for (p of popped_nodes){
                p.remove()
        }

        return popped_nodes
    }
    
    function pop_nodes_for_golf_sign_up()
    {
        var nodes = document.getElementById('frm').children
        var popped_nodes = []
        
        var found_index = 0

        for (node in nodes){
            if (nodes[node].id === 'sponsor-label'){
                    found_index = parseInt(node) - 1
                    break
            }
        }

        for (n in nodes){
            if (n >= found_index){
                var node = nodes[n]
                popped_nodes.push(node)
            }
        }

        for (p of popped_nodes){
                p.remove()
        }

        return popped_nodes
    }

    function pop_nodes_for_sponsor_sign_up()
    {
        var nodes = document.getElementById('frm').children
        var popped_nodes = []
        
        var found_index = 0

        for (node in nodes){
            if (nodes[node].id === 'submit'){
                    found_index = parseInt(node) - 1
                    break
            }
        }

        for (n in nodes){
            if (n >= found_index){
                var node = nodes[n]
                popped_nodes.push(node)
            }
        }

        for (p of popped_nodes){
                p.remove()
        }

        return popped_nodes
    }

    function store_vals()
    {
        var nodes = document.getElementById('frm').children
        var ids = []

        for (node of nodes){
            if (node.id.length > 0 ){
                ids.push(node)
            }
        }
        
        for (id of ids)
        {
            if (id.id.includes('image') && !id.id.includes('btn')){
                
            } else {
                localStorage.setItem(id.id, id.value);
            }
        }
        
    }

    function write_vals()
    {
        var nodes = document.getElementById('frm').children
        var ids = []

        for (node of nodes){
            if (node.id.length > 0 ){
                ids.push(node)
            }
        }
        
        for (id of ids)
        {
            if (!id.id.includes('image')){
                id.value = localStorage.getItem(id.id);
            }
        }
    }

    function add_new_day_to_schedule()
    {
        // ev.preventDefault();
        if (day_count < 0){
            day_count = document.getElementById('frm_about').childElementCount;
        }

        store_vals()

        div_id = 'day_' + day_count
        var div = document.createElement('div')
        div.id = div_id
        document.getElementById('frm_event_add').appendChild(div)

        var date_label = document.createElement('label')
        date_label.textContent = 'Date: ' 
        date_label.id = 'date_label_' + day_count
        div.appendChild(date_label)
        
        var date_value = document.createElement('input')
        date_value.id = 'day_' + day_count
        date_value.name = 'day_' + day_count
        date_value.type = 'date'
        date_value.placeholder = 'Day '+day_count
        div.appendChild(date_value)
        
        var day_remove_btn = document.createElement('input')
        day_remove_btn.id = 'day_remove' + day_count
        day_remove_btn.type = 'button'
        day_remove_btn.value = 'X'
        day_remove_btn.setAttribute('onclick','remove_day_from_schedule(parseInt(' + day_count + '))')
        div.appendChild(day_remove_btn)
        div.appendChild(document.createElement('br'))

        var location_label = document.createElement('label')
        location_label.textContent = 'Location: ' 
        location_label.id = 'location_label_' + day_count
        div.appendChild(location_label)

        var day_location_value = document.createElement('input')
        day_location_value.id = 'day_location_' + day_count
        day_location_value.name = 'day_location_' + day_count
        day_location_value.type = 'text'
        day_location_value.placeholder = 'Location '+day_count
        div.appendChild(day_location_value)
        div.appendChild(document.createElement('br'))

        var event_div = document.createElement('div')
        event_div.id = 'event_div_day_' + day_count
        div.appendChild(event_div)

        var add_day_btn = document.createElement('input')
        add_day_btn.id = 'day_add_' + day_count
        add_day_btn.type = 'button'
        add_day_btn.value = 'Add Event to Day'
        add_day_btn.setAttribute('onclick','add_event_to_day(parseInt(' + day_count + '))')
        div.appendChild(add_day_btn)
        div.appendChild(document.createElement('br'))

        event_count.push(0)
        day_count++;

        // for (pop of popped_nodes)
        // {
        //     document.getElementById('frm').appendChild(pop);
        // }
        
        write_vals()

        // return false;
    }

    function remove_day_from_schedule(day)
    {
        document.getElementById('day_' + day).remove()
    }
    
    function add_event_to_day(day_count_val)
    {
        store_vals()

        // popped_nodes = pop_nodes_after_day(day_count_val)

        day_count_event_count_str = 'day_'+day_count_val+'_event_'+event_count[day_count_val]
        
        // var label = document.createElement('label')
        // label.textContent = 'Time: '

        // document.getElementById('div_day_'+day_count_val).appendChild(document.createElement('br'))

        console.log('event_div_day_'+day_count_val)

        div_id = 'div_' + day_count_event_count_str
        var div = document.createElement('div')
        div.id = div_id
        document.getElementById('event_div_day_'+day_count_val).appendChild(div)

        div.innerHTML+='<label for="description">Time:</label>';
        div.innerHTML+='<input type="text" id="'+day_count_event_count_str + '_time" name="'+day_count_event_count_str + '_time" placeholder="'+day_count_event_count_str +'"  />';
        div.innerHTML+='<label for="description"> Description:</label>';
        div.innerHTML+='<input type="text" id="'+day_count_event_count_str + '_description" name="'+day_count_event_count_str + '_description" placeholder="'+day_count_event_count_str+'"  />';

        var event_remove_btn = document.createElement('input')
        event_remove_btn.id = 'event_remove_' + day_count
        event_remove_btn.type = 'button'
        event_remove_btn.value = 'X'
        event_remove_btn.setAttribute('onclick','remove_event_from_day(parseInt(' + day_count_val + '), parseInt(' + event_count[day_count_val] + '))')
        div.appendChild(event_remove_btn)
        div.appendChild(document.createElement('br'))
        // for (pop of popped_nodes)
        // {
        //     document.getElementById('frm').appendChild(pop);
        // }
        
        event_count[day_count_val]++;

        write_vals()
        
    }

    function remove_event_from_day(day, event)
    {
        console.log('div_day_'+day+'_event_'+event)
        document.getElementById('div_day_'+day+'_event_'+event).remove()
    }

    function add_event_image()
    {
        store_vals()

        popped_nodes = pop_nodes_for_event_image()

        var image_input = document.createElement('input')
        image_input.id = 'event_image_' + event_image_count
        image_input.name = 'event_image_' + event_image_count
        image_input.type = 'file'

        document.getElementById('frm').appendChild(image_input)
        document.getElementById('frm').appendChild(document.createElement('br'))
        
        for (pop of popped_nodes)
        {
            document.getElementById('frm').appendChild(pop);
        }

        event_image_count++;

        write_vals()
        
    }

    function add_sponsor_image()
    {
        store_vals()

        popped_nodes = pop_nodes_for_sponsor_image()

        var image_input = document.createElement('input')
        image_input.id = 'event_image_' + sponsor_image_count
        image_input.name = 'sponsor_images'  + sponsor_image_count
        image_input.type = 'file'

        document.getElementById('frm').appendChild(image_input)
        document.getElementById('frm').appendChild(document.createElement('br'))

        for (pop of popped_nodes)
        {
            document.getElementById('frm').appendChild(pop);
        }

        sponsor_image_count++;
        write_vals()
        
    }

    function add_golf_sign_up()
    {
        store_vals()

        // popped_nodes = pop_nodes_for_golf_sign_up()

        var label = document.createElement('p')
        label.textContent = 'Golfer Sign Up Option #' + (golf_option_count + 1)
        document.getElementById('frm_golf_signup').appendChild(label)

        var label_golf_option_title = document.createElement('label')
        label_golf_option_title.textContent = 'Title: ' 
        document.getElementById('frm_golf_signup').appendChild(label_golf_option_title)

        var golf_option_title = document.createElement('input')
        golf_option_title.id = 'golf_option_title_' + golf_option_count
        golf_option_title.name = 'golf_option_title_' + golf_option_count
        golf_option_title.type = 'text'
        document.getElementById('frm_golf_signup').appendChild(golf_option_title)
        document.getElementById('frm_golf_signup').appendChild(document.createElement('br'))

        var stripe_price_variable_price = document.createElement('label')
        stripe_price_variable_price.textContent = 'Strip Price Variable: ' 
        document.getElementById('frm_golf_signup').appendChild(stripe_price_variable_price)

        var stripe_price_variable_price_input = document.createElement('input')
        stripe_price_variable_price_input.id = 'stripe_price_variable_price_input_golf_' + golf_option_count
        stripe_price_variable_price_input.name = 'stripe_price_variable_price_input_golf_' + golf_option_count
        stripe_price_variable_price_input.type = 'text'
        document.getElementById('frm_golf_signup').appendChild(stripe_price_variable_price_input)
        document.getElementById('frm_golf_signup').appendChild(document.createElement('br'))

        var option_description = document.createElement('label')
        option_description.textContent = 'Option Description: ' 
        document.getElementById('frm_golf_signup').appendChild(option_description)
        document.getElementById('frm_golf_signup').appendChild(document.createElement('br'))

        var golf_option_textarea = document.createElement('textarea')
        golf_option_textarea.id = 'golf_option_textarea_' + golf_option_count
        golf_option_textarea.name = 'golf_option_textarea_' + golf_option_count
        golf_option_textarea.type = 'text'
        golf_option_textarea.rows = "6" 
        golf_option_textarea.cols = "50"
        document.getElementById('frm_golf_signup').appendChild(golf_option_textarea)
        document.getElementById('frm_golf_signup').appendChild(document.createElement('br'))

        
        // for (pop of popped_nodes)
        // {
        //     document.getElementById('frm').appendChild(pop);
        // }

        golf_option_count++;

        write_vals()
        
    }

    function add_sponsor_sign_up(){
        store_vals()

        // popped_nodes = pop_nodes_for_sponsor_sign_up()

        var label = document.createElement('p')
        label.textContent = 'Sponsor Sign Up Option #' + (sponsor_option_count + 1)
        document.getElementById('frm_sponsor_signup').appendChild(label)

        var label_sponsor_option_title = document.createElement('label')
        label_sponsor_option_title.textContent = 'Title: ' 
        document.getElementById('frm_sponsor_signup').appendChild(label_sponsor_option_title)

        var sponsor_option_title = document.createElement('input')
        sponsor_option_title.id = 'sponsor_option_title_' + sponsor_option_count
        sponsor_option_title.name = 'sponsor_option_title_' + sponsor_option_count
        sponsor_option_title.type = 'text'
        document.getElementById('frm_sponsor_signup').appendChild(sponsor_option_title)
        document.getElementById('frm_sponsor_signup').appendChild(document.createElement('br'))

        var stripe_price_variable_price = document.createElement('label')
        stripe_price_variable_price.textContent = 'Strip Price Variable: ' 
        document.getElementById('frm_sponsor_signup').appendChild(stripe_price_variable_price)

        var stripe_price_variable_price_input = document.createElement('input')
        stripe_price_variable_price_input.id = 'stripe_price_variable_input_sponsor_' + sponsor_option_count
        stripe_price_variable_price_input.name = 'stripe_price_variable_input_sponsor_' + sponsor_option_count
        stripe_price_variable_price_input.type = 'text'
        document.getElementById('frm_sponsor_signup').appendChild(stripe_price_variable_price_input)
        document.getElementById('frm_sponsor_signup').appendChild(document.createElement('br'))

        var option_description = document.createElement('label')
        option_description.textContent = 'Option Description: ' 
        document.getElementById('frm_sponsor_signup').appendChild(option_description)
        document.getElementById('frm_sponsor_signup').appendChild(document.createElement('br'))

        var sponsor_option_textarea = document.createElement('textarea')
        sponsor_option_textarea.id = 'sponsor_option_textarea_' + sponsor_option_count
        sponsor_option_textarea.name = 'sponsor_option_textarea_' + sponsor_option_count
        sponsor_option_textarea.type = 'text'
        sponsor_option_textarea.rows = "6" 
        sponsor_option_textarea.cols = "50"
        document.getElementById('frm_sponsor_signup').appendChild(sponsor_option_textarea)
        document.getElementById('frm_sponsor_signup').appendChild(document.createElement('br'))

        
        // for (pop of popped_nodes)
        // {
        //     document.getElementById('frm').appendChild(pop);
        // }

        sponsor_option_count++;

        write_vals()
    }

    window.onload = (event) => {
        // for (i of {{data.golf_registration}}){
        //     console.log(i)
        // }
        golf_option_count = parseInt("{{data.golf_option_count}}")
        day_count = parseInt("{{data.schedule.total}}")
        event_count = JSON.parse("{{data.schedule.child_sizes}}")

        localStorage.clear();
        document.getElementById('day_btn').onclick = (event) => {
            event.preventDefault();
            add_new_day_to_schedule();
            return false;
        }
    }

    
</script>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token%}
        
        <div id="frm">

            <label for="full_date">Full Date:  </label>
            <input type="date" name="full_date" id="full_date" value="{{data.date}}"><br>

            <label for="golf_course">Golf Course:  </label>
            <input type="text" name="golf_course" id="golf_course" value="{{data.course}}"><br>

            <label for="description">Description:</label><br>
            <textarea type="text" name="description" id="description" value="John" rows="6" cols="50"> {{data.descr}} </textarea><br><br>
            <label for="description">Schedule -- </label>
            <input id="day_btn" type="button" onClick="add_new_day_to_schedule(event); return false" value="Add Day to Schedule"><br>
            <div id="frm_event_add">
                {% for x in data.schedule.data %}
                    <div id="day_{{x.count}}">
                        <!-- <br/> -->
                        <label for="description">Date:</label>
                        <input type="date" id="day_{{x.count}}" name="day_{{x.count}}" value="{{x.date}}"  />
                        <input  type="button"  onClick="remove_day_from_schedule(parseInt('{{x.count}}'))" value="X" id='remove_day_from_schedule_btn_{{d.count}}'>
                    
                        <br/>
                        <label for="description">Location:</label>
                        <input type="text" id="day_location_{{x.count}}" name="day_location_{{x.count}}" value="{{x.location}}"  />
                        <br/>
                        
                        <div id="event_div_day_{{x.count}}"> 
                        {% for e in x.data %}
                            <div id="div_day_{{x.count}}_event_{{e.count}}"> 

                                <!-- </div> -->
                                <label for="description">Time:</label>
                                <input type="text" id="day_{{x.count}}_event_{{e.count}}_time" name="day_{{x.count}}_event_{{e.count}}_time" value="{{e.time}}"  />
                                
                                <label for="description">Description:</label>
                                <input type="text" id="day_{{x.count}}_event_{{e.count}}_description" name="day_{{x.count}}_event_{{e.count}}_description" value="{{e.description}}"  />

                                <input  type="button"  onClick="remove_event_from_day(parseInt('{{x.count}}'), parseInt('{{e.count}}'))" value="X" id='remove_day_from_schedule_btn_{{d.count}}'>
                                <br/>
                            </div>
            
                        {% endfor %}
                        </div>
                        
                        
                        <input  type="button"  onClick="add_event_to_day(parseInt('{{x.count}}'))" value="Add Event to Day">
                        <br>
                        <br>
                    </div>
                        
                    
        
                {% endfor %}
            </div>

            <br><label for="description">Event Images -- </label>
            <input id="event_image_btn" type="button" onClick="add_event_image(); return false" value="Add Image to Event"><br>
            

            <br><label for="description">Sponsor Images -- </label>
            <input id="sponsor_image_btn" type="button" onClick="add_sponsor_image(); return false" value="Add Sponsor Image to Event"><br>

            <br><label for="description" id='golf-label'>Add Golf Sign Up Option-- </label>
            <input id="golf_signup_btn" type="button" onClick="add_golf_sign_up(); return false" value="Add Golfer Sign Up Option to Event"><br>
            
            <div id="frm_golf_signup">
                {% for x in data.golf_registration %}

                    <p>Golfer Sign Up Option # {{x.display_count}}</p>
                    <label>Title: </label>
                    <input type="text" id="golf_option_title_{{x.count}}" name="golf_option_title_{{x.count}}" value="{{x.golf_option_title}}"><br>
                    
                    <label>Strip Price Variable:  </label>
                    <input type="text" id="stripe_price_variable_price_input_golf_{{x.count}}" name="stripe_price_variable_price_input_golf_{{x.count}}" value="{{x.stripe_price_variable}}"><br>

                    <label>Option Description: </label><br>
                    <textarea type="text" name="golf_option_textarea_{{x.count}}" id="golf_option_textarea_{{x.count}}" value="John" rows="6" cols="50"> {{x.golf_option_textarea}} </textarea><br><br>
                    
                {% endfor %}
            </div>

            <br><label for="description"  id='sponsor-label'>Add Registration Sign Up Option-- </label>
            <input id="sponsor_signup_btn" type="button" onClick="add_sponsor_sign_up(); return false" value="Add Sponsor Image to Event"><br><br>

            <div id="frm_sponsor_signup">
                {% for x in data.sponsor_registration %}

                    <p>Sponsor Sign Up Option # {{x.display_count}}</p>
                    <label>Title: </label>
                    <input type="text" id="sponsor_option_title_{{x.count}}" name="sponsor_option_title_{{x.count}}" value="{{x.sponsor_option_title}}"><br>
                    
                    <label>Strip Price Variable:  </label>
                    <input type="text" id="stripe_price_variable_input_sponsor_{{x.count}}" name="stripe_price_variable_input_sponsor_{{x.count}}" value="{{x.stripe_price_variable}}"><br>

                    <label>Option Description: </label><br>
                    <textarea type="text" name="sponsor_option_textarea_{{x.count}}" id="sponsor_option_textarea_{{x.count}}" value="John" rows="6" cols="50"> {{x.sponsor_option_textarea}} </textarea><br><br>
                    
                {% endfor %}
            </div>

            <button id="submit" type="submit"> Submit</button>
        </div>
        
    </form>
{% endblock content %}