{% extends "custAdmin/admin_base.html" %}

{% block content %}
    <div class="container">
        <ul>
            <li>
                <a href="/admin/organiztion_information">Organization Information</a>
            </li>
            <li>
                <a href="/admin/home">Home</a>
            </li>
            <li>
                <a href="/admin/about_us">About Us</a>
            </li>
            <li>
                <a href="/admin/people">People</a>
            </li>
            <li>
                <a href="/admin/donations">Donations</a>
            </li>
            <li>
                <a href="/admin/golf">Golf Outings </a>
            </li>
            <li>
                <a href="/admin/golf_registration">Download Golf Registration Data </a>
            </li>
        </ul>
    </div>
    
{% endblock content %}


