{% extends "custAdmin/admin_base.html" %}


{% block content %}
    <script>

        var donation_line_count=-1;
        var two_picture_count=-1;
        function store_vals()
        {
            var nodes = document.getElementById('frm').children
            var ids = []

            for (node of nodes){
                if (node.id.length > 0 ){
                    ids.push(node)
                }
            }
            
            for (id of ids)
            {
                if (id.id.includes('image') && !id.id.includes('btn')){
                    
                } else {
                    localStorage.setItem(id.id, id.value);
                }
            }
            
        }

        function write_vals()
        {
            var nodes = document.getElementById('frm').children
            var ids = []

            for (node of nodes){
                if (node.id.length > 0 ){
                    ids.push(node)
                }
            }
            
            for (id of ids)
            {
                if (!id.id.includes('image')){
                    id.value = localStorage.getItem(id.id);
                }
            }
        }

        function add_new_line()
        {
            // ev.preventDefault();
            if (donation_line_count < 0){
                donation_line_count = document.getElementById('donation_div').childElementCount / 6;
            }
            store_vals()
            // popped_nodes = pop_nodes_after_day(99)
            var text_label = document.createElement('label')
            text_label.textContent = 'Text: ' 
            text_label.id = 'donation_text_label_' + donation_line_count
            document.getElementById('donation_div').appendChild(text_label)

            var text_input = document.createElement('input')
            text_input.id = 'donation_text_' + donation_line_count
            text_input.name = 'donation_text_' + donation_line_count
            text_input.type = 'text'
            text_input.required = true
            document.getElementById('donation_div').appendChild(text_input)

            var input_label = document.createElement('label')
            input_label.textContent = 'Value: ' 
            input_label.id = 'donation_value_label_' + donation_line_count
            document.getElementById('donation_div').appendChild(input_label)

            var input_value = document.createElement('input')
            input_value.id = 'donation_value_' + donation_line_count
            input_value.name = 'donation_value_' + donation_line_count
            input_value.type = 'text'
            input_value.required = true
            document.getElementById('donation_div').appendChild(input_value)

            var remove_line_btn = document.createElement('input')
            remove_line_btn.id = 'remove_line_btn_' + donation_line_count
            remove_line_btn.name = 'remove_line_btn_' + donation_line_count
            remove_line_btn.type = 'button'
            // remove_line_btn.onclick = "remove_line(parseInt('{{d.count}}'))"

            remove_line_btn.setAttribute('onclick',"remove_line(parseInt(" + donation_line_count + "))")
            remove_line_btn.value = 'X'
            remove_line_btn.required = true
            document.getElementById('donation_div').appendChild(remove_line_btn)
            br = document.createElement('br')
            br.id = 'br_line_' + donation_line_count
            document.getElementById('donation_div').appendChild()

            donation_line_count++;
            
            write_vals()

        }

        function remove_line(num)
        {
            temp = document.getElementById('donation_text_label_' + num).remove()
            document.getElementById('donation_text_' + num).remove()
            document.getElementById('donation_value_' + num).remove()
            document.getElementById('donation_value_label_' + num).remove()
            document.getElementById('remove_line_btn_' + num).remove()
            document.getElementById('br_line_' + num).remove()
        }
    
        function add_two_picture_frame(){
            if (two_picture_count < 0){
                two_picture_count = document.getElementById('two_picture_div_big').childElementCount;
            }
            store_vals()
            var div = document.createElement('div')
            div.id = 'two_picture_div_' + two_picture_count
            document.getElementById('two_picture_div_big').appendChild(div)
            
            var two_picture_title = document.createElement('h5')
            two_picture_title.id = 'two_pic_frame_title_label_' + two_picture_count
            two_picture_title.style.display = 'inline'
            two_picture_title.textContent = 'Two Picture Frame - ' + two_picture_count
            div.appendChild(two_picture_title)

            var two_picture_remove_btn = document.createElement('input')
            two_picture_remove_btn.id = 'two_picture_remove_btn_' + two_picture_count
            two_picture_remove_btn.type = 'button'
            two_picture_remove_btn.value = 'X'
            two_picture_remove_btn.required = true
            two_picture_remove_btn.setAttribute('onclick','remove_two_picture_frame(parseInt(' + two_picture_count + '))')
            div.appendChild(two_picture_remove_btn)
            div.appendChild(document.createElement('br'))


            var title_label = document.createElement('label')
            title_label.textContent = 'Title: ' 
            title_label.id = 'two_pic_frame_title_label_' + two_picture_count
            div.appendChild(title_label)

            var title_value = document.createElement('input')
            title_value.id = 'two_pic_frame_title_' + two_picture_count
            title_value.name = 'two_pic_frame_title_' + two_picture_count
            title_value.type = 'text'
            title_value.required = true
            div.appendChild(title_value)
            div.appendChild(document.createElement('br'))

            var description_label = document.createElement('label')
            description_label.textContent = 'Description: ' 
            description_label.id = 'two_pic_frame_description_label_' + two_picture_count
            div.appendChild(description_label)
            div.appendChild(document.createElement('br'))

            var description_text_area = document.createElement('textarea')
            description_text_area.id = 'two_pic_frame_description_' + two_picture_count
            description_text_area.name = 'two_pic_frame_description_' + two_picture_count
            description_text_area.rows = '6'
            description_text_area.cols = '50'
            description_text_area.required = true
            div.appendChild(description_text_area)
            div.appendChild(document.createElement('br'))

            var left_label = document.createElement('label')
            left_label.textContent = 'Image-left: ' 
            left_label.id = 'two_pic_frame_image_left_label_' + two_picture_count
            div.appendChild(left_label)
            
            var left_value = document.createElement('input')
            left_value.id = 'two_pic_frame_image_left_' + two_picture_count
            left_value.name = 'two_pic_frame_image_left_' + two_picture_count
            left_value.type = 'file'
            div.appendChild(left_value)
            
            var left_label_value = document.createElement('label')
            left_label_value.textContent = 'Currently uploaded file - ' 
            left_label_value.id = 'two_pic_frame_image_left_current_' + two_picture_count
            div.appendChild(left_label_value)
            div.appendChild(document.createElement('br'))

            var right_label = document.createElement('label')
            right_label.textContent = 'Image-right: ' 
            right_label.id = 'two_pic_frame_image_right_label_' + two_picture_count
            div.appendChild(right_label)
            
            var right_value = document.createElement('input')
            right_value.id = 'two_pic_frame_image_right_' + two_picture_count
            right_value.name = 'two_pic_frame_image_right_' + two_picture_count
            right_value.type = 'file'
            div.appendChild(right_value)
            
            var right_label_value = document.createElement('label')
            right_label_value.textContent = 'Currently uploaded file - ' 
            right_label_value.id = 'two_pic_frame_image_right_current_' + two_picture_count
            div.appendChild(right_label_value)
            div.appendChild(document.createElement('br'))
            div.appendChild(document.createElement('br'))
            
            two_picture_count++;
            
            write_vals()
        }
        
        function remove_two_picture_frame(num)
        {
            console.log('two_picture_div_' + num)
            document.getElementById('two_picture_div_' + num).remove()
        }
    </script>
        <style 
        type="text/css">.image_label {
            background: rgba(0, 0, 0, 0);
            border: none;
        }   

        .indent_div_content {
            padding-left: 1rem !important;
        }

    </style>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token%}
            <div id="frm">

                <h2>Home Screen Text</h2>
                <h5>Left side text:</h5>
                <div class="indent_div_content">
                    <label id="left_text_title_label">Title: </label>
                    <input type="text" name="left_text_title" id="left_text_title" value="{{left.title}}" required><br>
                    <label id="left_text_text_label">Value: </label><br>
                    <textarea type="text" name="left_text_text" id="left_text_text" rows="6" cols="50" required> {{left.text}} </textarea><br>    
                </div>
                
                <h5>Right side text:</h5>
                <div class="indent_div_content">
                    <label id="right_text_title_label">Title: </label>
                    <input type="text" name="right_text_title" id="right_text_title" value="{{right.title}}" required><br>
                    <label id="right_text_text_label">Value: </label><br>
                    <textarea type="text" name="right_text_text" id="right_text_text" rows="6" cols="50" required> {{right.text}} </textarea><br>
                </div>

                <h5>Tax Deduction text:</h5>
                <div class="indent_div_content">
                    <label id="tax_text_title_label">Title: </label>
                    <input type="text" name="tax_text_title" id="tax_text_title" value="{{irs.title}}" required><br>
                    <label id="tax_text_text_label">Value: </label><br>
                    <textarea type="text" name="tax_text_text" id="tax_text_text" rows="6" cols="50" required> {{irs.text}} </textarea><br>
                </div>
                <hr><br>
                <h2>Rotating Panel Content</h2>
                {% for b in blocks %}
                    {% if b.key == "count_vals" %}
                        <h5>Donation Counter</h5>
                        <label for="cars">Events on donation counter:</label><br>
                        <div id='donation_div' class="indent_div_content">  
                            {% for d in b.vals %}
                                <label id="donation_text_label_{{d.count}}">Text: </label>
                                <input type="text" name="donation_text_{{d.count}}" id="donation_text_{{d.count}}" value="{{d.text}}" required>
                                <label id="donation_value_label_{{d.count}}">Value: </label>
                                <input type="text" name="donation_value_{{d.count}}" id="donation_value_{{d.count}}" value="{{d.val}}" required>
                                <input  type="button"  onClick="remove_line(parseInt('{{d.count}}'))" value="X" id='remove_line_btn_{{d.count}}'>
                                <br id='br_line_{{d.count}}'>
                            {% endfor %}
                        </div>
                        <input  type="button"  onClick="add_new_line()" value="Add Line to Donation Field"><br><br>
                    {% endif %}
                    {% if b.key == "golf_outing" %}
                        <h5>Current Golf Outing</h5>
                        <div id='golf_div' class="indent_div_content">  
                            <label id="golf_event_text_label">Title: </label>
                            <input type="text" name="golf_event_text" id="golf_event_text" value="{{b.title}}" required><br>
                            <label for="golf_event_full_date">Outing Date:  </label>
                            <input type="date" name="golf_event_full_date" id="golf_event_full_date" value="{{b.date}}" required><br>
                            <label id="golf_event_description_label">Description: </label><br>
                            <textarea type="text" name="golf_event_description" id="golf_event_description" rows="6" cols="50" required> {{b.descr}} </textarea><br>
                            <input type="file" id="golf_event_image" name="golf_event_image">                            
                            <input class="image_label" name="golf_event_image_current" id="golf_event_image_current" type="text" value="{{b.file_name}}" readonly><br>

                            <br>
                            <br id='br_line_{{d.count}}'>
                        </div>
                    {% endif %}
                {% endfor %}

                <div id='two_picture_div_big'>  
                    {% for b in two_pics %}
                        <div id='two_picture_div_{{b.count}}' class="indent_div_content">  
                            <h5 style="display: inline;">Two Picture Frame - {{b.count}}</h5> 
                            <input type="button" onClick="remove_two_picture_frame(parseInt('{{b.count}}'))" value="X">
                            <br>
                            <label id="two_pic_frame_title_label_{{b.count}}">Title: </label>
                            <input type="text" name="two_pic_frame_title_{{b.count}}" id="two_pic_frame_title_{{b.count}}" value="{{b.title}}" required><br>
                            <label id="two_pic_frame_description_label_{{b.count}}">Description: </label><br>
                            <textarea type="text" name="two_pic_frame_description_{{b.count}}" id="two_pic_frame_description_{{b.count}}" rows="6" cols="50" required> {{b.descr}} </textarea><br>
                            <label id="two_pic_frame_image_left_label_{{b.count}}">Image-left: </label>
                            <input type="file" id="two_pic_frame_image_left_{{b.count}}" name="two_pic_frame_image_left_{{b.count}}">
                            <input class="image_label" name="two_pic_frame_image_left_current_{{b.count}}" id="two_pic_frame_image_left_current_{{b.count}}" type="text" value="{{b.golf_image_left}}" readonly><br>

                            <label id="two_pic_frame_image_right_label_{{b.count}}">Image-right: </label>
                            <input type="file" id="two_pic_frame_image_right_{{b.count}}" name="two_pic_frame_image_right_{{b.count}}">
                            <input class="image_label" name="two_pic_frame_image_right_current_{{b.count}}" id="two_pic_frame_image_right_current_{{b.count}}" type="text" value="{{b.golf_image_right}}" readonly><br>

                            <br>
                            <br id='br_line_{{d.count}}'>
                        </div>
                    {% endfor %}
                </div>
                    
                
                <input  type="button"  onClick="add_two_picture_frame()" value="Add Two Picture" id='remove_line_btn_{{d.count}}'>
                <button id="submit" type="submit"> Submit</button>
            </div>
        </form>
    </div>
{% endblock content %}